.footer {
    display: flex;
    width: 100vw;
    flex-direction: column;
    /*background-color: #0b3f34;*/
    background-color: #0f7d6f;

    align-items: center;
    justify-content: center;
    color: white;
    margin: 0;
    padding: 0;


}

.box{
    width: 100vw;
    display: flex;
    flex-direction: column;

}

.box-one {/*------------------------------------box-1--------------------------------------*/
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #0f7d6f;
    margin-bottom: 10px;
}


.logo_slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
}

.footer-logo{
    position: relative;
    width: 200px;
    left: 55px;
    margin-bottom: 20px;

}

.logo-footer p1{
    font-size: 20pt;
}

.logo-footer p2{
    font-size: 14pt;
    margin-bottom: 50px;

}


.navbar-content{
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    gap: 10px;
}


.navbar-content a:hover
{
    color: black;
    cursor: pointer;
    text-align: center;
}

.box-two{/*------------------------------------box-2--------------------------------------*/
    margin-top: 10px;
    display: flex;
    width: 100vw;
    flex-direction: column;
    text-align: left;
    padding-left: 100px;
}

.address h1,
.contact h1,
.other h1{
    font-size: 16pt;
}

.address p{
    text-align: left;
}


.footer-links ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    color: white;
    font-size: medium;
    text-decoration: none;
    justify-content: center;

}


hr { /*the line*/
    border: none;
    width: 100vw;
    border-top: 2px solid #ccc;



}

.contact p{
    text-align: left;
}

.social-media{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.instagram,
.facebook,
.youtube,
.twitter
{
    width: 30px;
}

.box-three{
}

.copyright{
    font-weight: 500;
}